@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --glass: rgba(0, 0, 0, 0.25);
    --border: 2px solid rgba(255, 255, 255, 0.25);
    --radius: 20px;
    --text-color: #eee;
    --shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #131313;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.pricing {
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px 40px;
}

.pricing .plan {
    background-color: var(--glass);
    border: var(--border);
    border-radius: var(--radius);
    padding: 0 20px 20px 20px;
    text-align: center;
    color: var(--text-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
}

.pricing .plan-title {
    background-color: var(--glass);
    border: var(--border);
    border-radius: var(--radius);
    backdrop-filter: blur(10px);
    transform: translateY(-25%);
    box-shadow: var(--shadow);
    width: 75%;
    margin-left: 12.5%;
    padding: 30px;
}

.pricing .plan-title h3 {
    font-size: 1.5rem;
}

.pricing .plan-title .price {
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 800;
}

.pricing ul {
    list-style: none;
}

.pricing ul li {
    padding: 10px;
}

.pricing a {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    text-decoration: none;
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--glass);
    padding: 10px 20px;
    box-shadow: var(--shadow);
}